header {
  background-image: url(images/Group.png);
  background-repeat: no-repeat;
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin: 100px auto;
}
.header::after {
  .banner::after {
    content: "";
    background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    );
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
    width: inherit;
    z-index: -1;
  }
}
.banner {
  color: #fff;
  top: 30%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.banner-title {
  color: #fff;
  font-family: Mulish;
  text-align: center;
  margin-top: 100px;
}
.banner-title h1 {
  font-size: 4rem;
  font-weight: 800;
}
.banner-title p {
  width: 676px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
}
.banner-search-field {
  display: flex;
  padding: 16px;
  justify-content: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  gap: 24px;
}
.banner-search-field input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: 0;
}
.button1 {
  border-radius: 8px;
  background: #ff5400;
  border: 0;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 700;
}

.section-1 {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.section-content {
  width: 540px;
  height: 550px;
}
.section-title {
  color: #131318;

  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}
.section-text {
  color: rgba(19, 19, 24, 0.7);

  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
}
.button2 {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;

  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  border: none;
}
.section-1-img {
  width: 540px;
  height: 550px;
  border-radius: 16px;
}
.section-2 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.section-2-content {
  margin: 0 auto;
  width: 643px;
}
.section-2-content h1 {
  color: #131318;

  text-align: center;
  font-family: Mulish;
  font-size: 2.1rem;
  font-weight: 800;
}
.section-2-content p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
}
.section-2-img {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  border-radius: 16px;
}
.row {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}
.section-3 {
  width: 1170px;
  margin: 0 auto;
}
.section-3-title {
  text-align: center;
  font-family: Mulish;
  width: 100%;
  margin-bottom: 20px;
}
.section-3-title h1 {
  color: #131318;
  font-size: 2.85rem;
  font-weight: 800;
}
.section-3-title p {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.container1-2 {
  display: flex;
  gap: 20px;
}
.container img {
  width: 64px;
  height: 64px;
}
.container p {
  color: #5a5a5d;
  width: 486px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
}
.section-3-box-1 {
  /* width: 50%; */
  width: 573px;
  height: 284px;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);

  background: rgba(251, 181, 99, 0.05);
}
.section-3-box-2 {
  /* width: 50%; */
  width: 573px;
  height: 284px;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.section-3-box-3 {
  /* width: 50%; */
  width: 573px;
  height: 284px;

  padding: 10px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* @media screen and (max-width: 600px) {
  header {
    width: 335px;
    height: 483px;
  }
  .banner-search-field {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
} */
